*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}
body{
    font-family: monospace;
}
/* navbar styling */
 nav{
     position: fixed;
    background-color: #A53860;
    height: 70px;
    width: 100%;

}

label.logo{
    margin-left: 15px;
    color: antiquewhite;
    font-size: 40px;
    line-height: 70px;
}
nav ul {
    float: right;
    margin-right: 20px;
}
nav ul li{
    display: inline-block;
    line-height: 70px;
    margin:0 10px;
}
nav ul li a{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(235, 241, 241);
    font-size:17px  ;
  
}
nav a:hover{
    display: block;
    color: black;
    background-color: rgb(4, 250, 217);
}
.checkbtn{
    float: right;
    font-size: 30px;
    margin-right: 15px;
    line-height: 70px;
    color: bisque;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}

@media (max-width:1200px){
    label.logo{
        font-size: 20px;
        font-weight: 400;
    }
    nav ul li a{
        font-size: 15px;
    }
}
@media (max-width:940px){
    .checkbtn{
        display: block;
    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: #2c3e50;
        opacity: 0.75;
        top:70px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
    }
    #check:checked ~ ul{
        left: 0;
    }
}
/* footer styling */
footer {
    width: 100%;
    left: 0;
    bottom: 0;
}
footer .content{
    background-color: #791b3e;
    padding: 10px;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
footer .content p,a{
    color: rgb(224, 243, 243);
}
footer .content .box{
    width: 33%;
}
footer .content .topic{
    font-size: 25px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 16px;
    text-align: center;
    
    }
footer .content p{
    text-align: center;
}
footer .content .lower .topic{
    margin:  24px 0 5px 0px;
}
footer .content .lower i{
   
    padding-right: 16px;
}
footer .content .middle{
padding-left: 30px;

}
footer .content .middle a{
    display: block;
    line-height: 32px;
    text-align: center;
}
footer .content .right{
    margin-left: px;
}
footer .content .right input[type="text"]{
height: 45px;
width: 100%;
outline: none;
color: #d9d9d9;
background-color: #000;
border-radius: 5px;
padding-left: 10px;
font-size: 17px;


}
footer .content .right input[type="submit"]{
    height: 42px;
    width: 100%;
    outline: none;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    background-color: rgb(241, 143, 220);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 18px;
   
    transition: all 0.3s ease-in-out;
    
    }
    footer .content .right input[type="submit"]:hover{
    background-color: blanchedalmond;
    color: black;
    
    }

    /*footer social media icons */
    footer .content .media-icons a{
            font-size: 16px;
            height: 45px;
            width: 45px;
            background: rgb(14, 14, 14);
            display: inline-block;
            text-align: center;
            border-radius: 5px;
            line-height: 45px;
            margin: 25px 5px 0 0 ;
            color: azure;
    }
    footer .content .media-icons a:hover{
        color: rgb(241, 143, 220);

    }
    footer .content .bottom{
        width: 100%;
        text-align: right;
    color: rgb(255, 255, 255);
    padding: 0 40px 5px 0;
    }
    
    footer a{
        transition: all 0.3s ease;
    }
    footer a:hover{
        color: rgb(25, 238, 209);
    }
    /*responsive  footer */
@media(max-width:900px)
{
   footer .content .media-icons a{
    margin: 25px 0 0 0;
   } 
}

/* main content styling */
main{
    padding-top: 50px;
}
.container{
    display: flex;
    
}
.background{
   width: 50%;
}
.main-cont{
    padding-top: 50px;
    text-align: center;
    font-size: xx-large;
    width: 50%;
}
.main-cont a{
    color: red;
}
.main-cont h1{
    color: rgb(0, 0, 0);
}
.main-cont h2,h3{
    font-style: italic;
    color: rgb(92, 44, 44);
}

.text-ani{
    text-align: center;
    color: rgb(5, 5, 5);
    font-size: x-large;
    padding-top: 56px;
}

/* animated text */
.text-ani::before { 
    content: "The best thing about a boolean is even if you are wrong, you are only off by a bit. (Anonymous)"; 
    animation: animate infinite 10s; 
} 
@keyframes animate { 

    0% { 
        content: "Without requirements or design, programming is the art of adding bugs to an empty text file. (Louis Srygley)"; 
    } 
    75% { 
        content: "Walking on water and developing software from a specification are easy if both are frozen. (Edward V Berard)"; 
    } 
    150% { 
        content: "Software undergoes beta testing shortly before it’s released. Beta is Latin for “still doesn’t work. (Anonymous)"; 
    } 
} 

/* signup button styling*/

.register {
    cursor: pointer;
    border-radius: 10px;
    padding: 16px 32px;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    background-color: white; 
    color: black; 
    border: 2px solid #f44336;
  }
  .register a{
      color: black;
  }
  .register a:hover{
    color: rgb(245, 239, 239);
}
  
  .register:hover {
    background-color: #f44336;
    color: white;
  }

@media (max-width:500px){
    .main-cont{
        font-size: small;
        font-weight: bold;
    }
.register {
    border-radius: 10px;
    padding: 10px 10px;
    font-size: 13px;
    margin: 2px 0px;

}
.background p{
        font-size: small;
        font-weight: bold;
}
}
/*main content*/
.image{
    width: 90%;
}
.container-two{
    font-size: x-large;
    display: flex;
    padding-bottom: 100px;
}

.images{
    width: 33.33%;
}
.main-content{
    width: 70%;
}